# Diese Datei enthaelt den Hinweistext auf die Datenschutzklausel,
# der im Wahlschein erscheint und auch bei eingegangenen Wahlscheinen
# wieder abgeprueft wird. Alle Zeilen, die mit dem Kommentarzeichen #
# anfangen, werden ignoriert.
#
Zur Verarbeitung des Wahlscheines und insbesondere der Veroeffentlichung
des Ergebnisses ist deine Zustimmung zur Speicherung, Auswertung und
Veroeffentlichung deiner Stimmdaten (Name und E-Mail-Adresse in
Verbindung mit dem Stimmverhalten) im Rahmen dieses Verfahrens
erforderlich. Wenn du im Feld unterhalb dieses Absatzes "JA"
eintraegst, erklaerst du dich damit einverstanden. In allen anderen
Faellen wird der Wahlschein mit Ruecksicht auf das deutsche
Bundesdatenschutzgesetz verworfen und nicht gewertet.
